<h4><a href="./#/drivers_table"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to drivers table</a></h4>
<div ng-show="driver !='null' && driver !='undefined' && driver.length!==0 || races !='null' && races !='undefined' && races.length!==0">

  <div ng-show="driver !='null' && driver !='undefined' && driver.length!==0">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 style="font-size:16px; font-weight:bold;" class="panel-title">{{driver.Driver && driver.Driver.givenName ? driver.Driver.givenName : ' - '}} {{driver.Driver && driver.Driver.familyName ? driver.Driver.familyName : ' - '}}</h2>
      </div>
      <div class="panel-body">
        <b>Nationality:</b>  {{driver.Driver ? driver.Driver.nationality : ' - '}}<br/>
        <b>Team:</b> {{driver.Constructors && driver.Constructors[0] && driver.Constructors[0].name ? driver.Constructors[0].name : ' - '}}<br/>
        <b>DOB:</b> {{driver.Driver && driver.Driver.dateOfBirth ? driver.Driver.dateOfBirth : ' - '}}<br/>
        <a href="{{driver.Driver.url}}" target="_blank"><b>Biography</b></a>
      </div>
    </div>
  </div>

  <div ng-show="noDriverData == true">
    <div class="jumbotron">
      <h1>No Data :(</h1>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <td>
        <a href="" ng-click="predicate = 'round'; reverse=!reverse">
          Round
          <span class="sortorder" ng-show="predicate === 'round'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
      <td>
        <a href="" ng-click="predicate = 'raceName'; reverse=!reverse">
          Grand Prix
          <span class="sortorder" ng-show="predicate === 'raceName'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
      <td>
        <a href="" ng-click="predicate = 'Results[0].Constructor.name'; reverse=!reverse">
          Team
          <span class="sortorder" ng-show="predicate === 'Results[0].Constructor.name'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
      <td>
        <a href="" ng-click="predicate = 'Results[0].grid'; reverse=!reverse">
          Grid
          <span class="sortorder" ng-show="predicate === 'Results[0].grid'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
      <td>
        <a href="" ng-click="predicate = 'Results[0].position'; reverse=!reverse">
          Race
          <span class="sortorder" ng-show="predicate === 'Results[0].position'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="race in races | orderBy:predicate:reverse">
      <td>{{race.round ? race.round : ' - '}}</td>
      <td>{{race.raceName ? race.raceName : ' - ' }}</td>
      <td>{{race.Results && race.Results[0] && race.Results[0].Constructor.name ? race.Results[0].Constructor.name : ' - '}}</td>
      <td>{{race.Results && race.Results[0] && race.Results[0].grid ? race.Results[0].grid : ' - '}}</td>
      <td>{{race.Results && race.Results[0] && race.Results[0].position ? race.Results[0].position : ' - '}}</td>
    </tr>
    </tbody>
  </table>

</div>

<div ng-show="noDriverRacingData == true">
  <div class="jumbotron">
    <h1>No Data :(</h1>
  </div>
</div>

