<div ng-show="driversList !='null' && driversList !='undefined' && driversList.length!==0">
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="driverNameFilter">
      </div>
    </div>
  </form>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <td>
        <a href="" ng-click="predicate = 'Driver.givenName'; reverse=!reverse">
          Name
          <span class="sortorder" ng-show="predicate === 'Driver.givenName'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
      <td>
        <a href="" ng-click="predicate = 'Constructors[0].name'; reverse=!reverse">
          Constructor
          <span class="sortorder" ng-show="predicate === 'Constructors[0].name'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
      <td>
        <a href="" ng-click="predicate = 'wins'; reverse=!reverse">
          Wins
          <span class="sortorder" ng-show="predicate === 'wins'" ng-class="{reverse: reverse}"></span>
        </a>
      </td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="driver in driversList | orderBy:predicate:reverse | filter:searchDriverFilter ">
      <td><a href="#/driver_profile/{{driver.Driver.driverId}}">
        #{{$index + 1}} {{driver.Driver ? driver.Driver.givenName : ' - '}} {{driver.Driver ? driver.Driver.familyName : ' - '}}</td>
      <td>{{driver.Constructors && driver.Constructors[0] && driver.Constructors[0].name ? driver.Constructors[0].name : ' - '}}</td>
      <td>{{driver.wins ? driver.wins : ' - '}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div ng-show="driversListEmpty == true">
  <div class="jumbotron">
    <h1>No Data :(</h1>
  </div>
</div>